!
service password-encryption
service tcp-keepalives-in
service tcp-keepalives-out
no service pad
no service tcp-small-servers
no service udp-small-servers
no service config
no service call-home
no ip finger
no ip bootp server
no ip source-route
no ip domain-lookup
no ip http server
no ip http secure-server
no vstack
$cdp_global
