!
$dhcp_snooping
$dai
$device_tracking
errdisable recovery cause bpduguard
errdisable recovery cause psecure-violation
errdisable recovery cause dhcp-rate-limit
errdisable recovery cause arp-inspection
errdisable recovery cause udld
errdisable recovery cause storm-control
errdisable recovery interval 300
